.welcome {
  @include row();

  font-family: "LatoWeb";

  .left {
    @include col(2, 5, $gap: 0);

    @include gradientOverlay($green--filter, $blue--filter);

    height: 100vh;
    position: relative;
    background-color: $green--filter;
    background: url('../../images/background.png') no-repeat 50%;

    .container {
      width: 100%;
      height: 100%;
      @include px-to-rem('padding', 60);
      display: flex;
      justify-content: center;
      align-items: center;

      @import '../components/logo';
    }
  }

  .right {
    @include col(3, 5, $gap: 0);
    height: 100vh;
    background-color: $white;

    @import '../components/intro';

    @media only screen and (max-width: 768px) {
      height: 100%;
    }
  }

}
