.welcome {
  @include row();

  font-family: "LatoWeb";

  .left {
    @include col(2, 5, $gap: 0);

    height: 100vh;
    background-color: blue;
    background: url('../../images/background.png') no-repeat 50%;

    .container {
      width: 100%;
      height: 100%;
      @include px-to-rem('padding', 60);
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        width: 100%;
        @import '../components/animatesvg';

        path {
          fill:none;
          stroke:$white;
          stroke-width:5;
          stroke-linecap:round;
          stroke-linejoin:round;
          stroke-miterlimit:10;
        }
        .path1 {
          stroke-width:6;
        }
        .path3 {
          stroke-width:7;
        }
      }
    }
  }

  .right {
    @include col(3, 5, $gap: 0);
    height: 100vh;
    background-color: $white;

    @include px-to-rem('padding', 60);
  }

}
