.path1, .path2, .path3, .path4 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.path1{
  animation: dash 2s linear forwards;
  animation-delay: 0.6s;
}

.path2 {
  animation: dash 1.5s linear forwards;
  animation-delay: 0.9s;
}

.path3 {
  animation: dash 2s linear forwards;
  animation-delay: 1.5s;
}

.path4 {
  animation: dash 2s linear forwards;
  animation-delay: 1.8s;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
