.intro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;

  @include px-to-rem('padding', 60);

  img.me {
    @include px-to-rem('width', 180);
    @include px-to-rem('height', 180);
    @include px-to-rem('border-radius', 90);
    border: 1px solid $grey--light;
  }

  h1 {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .skills {
    font-family: "LatoWebLight";
    @include px-to-rem('font-size', 16);

    margin: 0;
    padding: 0;

    text-transform: uppercase;
    text-align: center;

    color: $blue--filter;

    list-style: none;

    > li {
      display: inline-block;
      @include px-to-rem('padding', 5);
      transition: 0.3s;

      &:first-of-type {
        @include px-to-rem('padding-left', 0);
      }

      &:last-of-type {
        @include px-to-rem('padding-right', 0);
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .about {
    @include px-to-rem('padding', 0 25);
    font-family: "LatoWebLight";
    font-style: italic;
    line-height: 1.5;

    &:before {
      content: '“';
      position: absolute;
      color: $grey;
      font-family: serif;
      @include px-to-rem('font-size', 36);
      @include px-to-rem('margin', -10 0 0 -25);
    }

    &:after {
      content: '”';
      position: absolute;
      color: $grey;
      font-family: serif;
      @include px-to-rem('font-size', 36);
    }
  }

  .links {
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: 830px) {
    @include px-to-rem('padding', 40);
    > * {
    margin: 10px 0 !important;
    }
  }
}
