.logo {
  width: 100%;
  z-index: 2;
  @import '../components/animatesvg';

  path {
    fill:none;
    stroke:$white;
    stroke-width:5;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
  }
  .path1 {
    stroke-width:6;
  }
  .path3 {
    stroke-width:7;
  }
}
